In [1]:
print("hello world")

hello world

In [3]:
#Cau 1
sum = 0
for i in range(5):
    temp = int(input(f"Nhap so thu {i + 1}: "))
    sum += temp
print("Tong la:", sum)

Nhap so thu 1: 4
Nhap so thu 2: 5
Nhap so thu 3: 2
Nhap so thu 4: -99
Nhap so thu 5: 100
Tong la: 12

In [19]:
#Cau2
sum = 0
n = int(input("Nhap n: "))
for i in range(n):
    
    temp = (input(f"('e' de ket thuc hoac Nhap so thu {i + 1}: "))
    if temp.lower() == 'e':
        print("DUNG!")
        break
        
    sum += int(temp)


print("Tong cac so n: ", sum)

Nhap n: 5
('e' de ket thuc hoac Nhap so thu 1: 1
('e' de ket thuc hoac Nhap so thu 2: 2
('e' de ket thuc hoac Nhap so thu 3: 3
('e' de ket thuc hoac Nhap so thu 4: 4
('e' de ket thuc hoac Nhap so thu 5: 5
Tong cac so n:  15

In [39]:
#Cau3
sumEven = 0
inp = (input())
inp = inp.split() #hàm split trả về list
for num in inp:
    if int(num) % 2 == 0:
        sumEven += int(num)



print(inp, "\n", sumEven)

1 2 6 4
['1', '2', '6', '4']
 12

In [48]:
#Cau4
sum = 0
n = int(input())
for i in range(n + 1):
    sum += i
    
print(sum)

5
15

In [49]:
#Cau 5
inp = input()
inp = inp.split()

print(max(inp))

3 9 -99
9

In [53]:
#Cau6
sum = 0
ds = [5, 2, 10, 32, 11, 48, 34]
for index, num in enumerate(ds):
    if(index % 2 == 0 and num % 2 == 0):
       sum += num
    
print(sum)

44

In [54]:
#Cau7
ds = [15, 32, 10, 32, 29, 48, 15]

for num in ds:
    if num % 2 != 0:
        ds.remove(num)
        
print(ds)

[32, 10, 32, 48]

In [73]:
#Cau8
inp = list(input())
sumChar = len(inp)

for c in inp:
    c = c.lower()
    if c != " ":
        print("so lan xuat hien chu: " + c, inp.count(c))
    else:
        print("so lan xuat hien khoang trang: ", inp.count(c))

print("Tong so ky tu", sumChar)

Quang Vu
so lan xuat hien chu: q 0
so lan xuat hien chu: u 2
so lan xuat hien chu: a 1
so lan xuat hien chu: n 1
so lan xuat hien chu: g 1
so lan xuat hien khoang trang:  1
so lan xuat hien chu: v 0
so lan xuat hien chu: u 2
Tong so ky tu 8

In [84]:
#Cau9
str = "trum Python python ez"
str = str.lower()
s = str.split()
count = 0
print(s)

for i in s:
    if(i == "python"):
        count += 1
        
print(count)

['trum', 'python', 'python', 'ez']
2

In [106]:
#Cau10
str = "trum Python mining data with python so ez"
str = str.lower()
s = str.split()
print(s)
print(str)

idx = s.index("data")
s.insert(idx, "du lieu")
s.remove("data")

string = ' '.join(s)
print(string)

['trum', 'python', 'mining', 'data', 'with', 'python', 'so', 'ez']
trum python mining data with python so ez
trum python mining du lieu with python so ez

In [110]:
#Cau12

Person1 = {
    'STT' : '1',
    'MSSV' : '1210',
    'Họ và tên' : 'Phạm Thị Hoàng Mỹ',
    'Năm sinh' : '2005',
    'Giới tính' : "Nữ"
}

Person2 = {
    'STT' : '2',
    'MSSV' : '2012',
    'Họ và tên' : 'Huỳnh Quang Vũ',
    'Năm sinh' : '2005',
    'Giới tính' : "Nam"
}

persons = [Person1, Person2]

for p in persons:
    if p['STT'] == '1':
        print(p['Họ và tên'])

#print(Person1, Person2)

Phạm Thị Hoàng Mỹ