In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('C:/Users/huynh/Documents/jupyter Running/Data Analysis/Data/courses.csv', sep=',', encoding='utf-8')
print(df)

  Courses    Fee Duration  Discount
0   Spark  25000  50 Days      2000
1  Pandas  20000  35 Days      1000
2    Java  15000      NaN       800
3  Python  15000  30 Days       500
4     PHP  18000  30 Days       800
5  Python  15000  30 Days       500

In [5]:
df = pd.read_csv('C:/Users/huynh/Documents/jupyter Running/Data Analysis/Data/courses.csv', index_col='Courses')
print(df)

           Fee Duration  Discount
Courses
Spark    25000  50 Days      2000
Pandas   20000  35 Days      1000
Java     15000      NaN       800
Python   15000  30 Days       500
PHP      18000  30 Days       800
Python   15000  30 Days       500

In [15]:
df = pd.read_csv('C:/Users/huynh/Documents/jupyter Running/Data Analysis/Data/courses.csv', header=None, skiprows=3)
print(df)

        0      1        2    3
0    Java  15000      NaN  800
1  Python  15000  30 Days  500
2     PHP  18000  30 Days  800
3  Python  15000  30 Days  500

In [16]:
df = pd.read_csv('C:/Users/huynh/Documents/jupyter Running/Data Analysis/Data/courses.csv', usecols =['Courses','Fee','Discount'])
print(df)

  Courses    Fee  Discount
0   Spark  25000      2000
1  Pandas  20000      1000
2    Java  15000       800
3  Python  15000       500
4     PHP  18000       800
5  Python  15000       500

In [31]:
df = pd.read_csv('C:/Users/huynh/Documents/jupyter Running/Data Analysis/Data/courses.csv', sep=',', encoding='utf-8')

df = df.rename(columns= {'Courses' : 'Khoa Hoc', 'Fee' : 'Le Phi', 'Duration' : 'Thoi Gian'})
print(df)

df_new = df[['Khoa Hoc', 'Le Phi', 'Thoi Gian']]

print(df_new)

  Khoa Hoc  Le Phi Thoi Gian  Discount
0    Spark   25000   50 Days      2000
1   Pandas   20000   35 Days      1000
2     Java   15000       NaN       800
3   Python   15000   30 Days       500
4      PHP   18000   30 Days       800
5   Python   15000   30 Days       500
  Khoa Hoc  Le Phi Thoi Gian
0    Spark   25000   50 Days
1   Pandas   20000   35 Days
2     Java   15000       NaN
3   Python   15000   30 Days
4      PHP   18000   30 Days
5   Python   15000   30 Days

In [61]:
#Cau6
df6 = pd.read_csv('C:/Users/huynh/Documents/jupyter Running/Data Analysis/Data/student.csv', sep=';', encoding='utf-8')
print(df6.shape)

print(df6.head(10))
print('\n', df6.tail(10))

(95, 6)
           ID                  Name         BOD Gender Mark              Class
0  16050007.0       Đặng Phương Anh  24/02/1998      F    7     QH-2016-E KTPT
1  16051722.0      Đinh Thị Vân Anh  21/11/1998      F    9  QH-2017-E KINH TẾ
2  16050014.0            Đỗ Lan Anh         NaN      F    4     QH-2017-E KTPT
3  16051723.0         Kiều Ngọc Ánh  06/10/1998      F    6     QH-2017-E KTPT
4  16050008.0           Lê Ngọc Ánh  17/02/1998      F    3     QH-2017-E KTPT
5  16052308.0            Vũ Thị Ánh  12/07/1998      F    9  QH-2017-E KINH TẾ
6  16051728.0       Nguyễn Đức Bình         NaN      F    6     QH-2016-E KTPT
7  16051726.0      Nguyễn Ngọc Diệp  10/10/1998      F    8  QH-2017-E KINH TẾ
8  16051725.0  Nguyễn Thị Ngọc Diệp  08/10/1998      F    7     QH-2017-E KTPT
9  16050018.0       Nguyễn Kim Dung  20/10/1998      F    7     QH-2016-E KTPT

             ID                 Name         BOD Gender Mark           Class
85         NaN   Nguyễn Thị Hải Vân  18/09/1998      F    9  QH-2017-E KTPT
86  16050174.0   Nguyễn THị Hải Yến  04/03/1998      F    6  QH-2016-E KTPT
87  16051814.0  Nguyễn Thị Ngọc Yến  11/11/1998      F  NaN  QH-2016-E KTPT
88  17050098.0       Nguyễn THị Vân  21/09/1999      F    7  QH-2017-E KTPT
89  16051811.0       Trần Ngọc Xuân  04/11/1998      F  NaN  QH-2016-E KTPT
90  16051802.0    Nguyễn Doãn Trung  25/09/1998      M    5  QH-2016-E KTPT
91  16051803.0      Trần Văn Trường  10/02/1997      M  NaN  QH-2016-E KTPT
92  16051804.0      Trần THị Cẩm Tú  13/12/1998      F  NaN  QH-2016-E KTPT
93  17050098.0       Nguyễn THị Vân  21/09/1999      F    7  QH-2017-E KTPT
94  16051811.0       Trần Ngọc Xuân  04/11/1998      F  NaN  QH-2016-E KTPT

In [39]:
#xem null
print(df6.isnull())

       ID   Name    BOD  Gender   Mark  Class
0   False  False  False   False  False  False
1   False  False  False   False  False  False
2   False  False   True   False  False  False
3   False  False  False   False  False  False
4   False  False  False   False  False  False
..    ...    ...    ...     ...    ...    ...
90  False  False  False   False  False  False
91  False  False  False   False   True  False
92  False  False  False   False   True  False
93  False  False  False   False  False  False
94  False  False  False   False   True  False

[95 rows x 6 columns]

In [49]:
#thuoc tinh null nhieu nhat
print(df6.isnull().sum())
print(df6.isnull().sum().idxmax())
print(df6.isnull().sum().max())

ID         8
Name       0
BOD        6
Gender     0
Mark      22
Class      0
dtype: int64
Mark
22

In [62]:
df6['Gender'] = df6['Gender'].replace({'F' : 'Nu', 'M' : 'Nam'})
print(df6.head())

           ID              Name         BOD Gender Mark              Class
0  16050007.0   Đặng Phương Anh  24/02/1998     Nu    7     QH-2016-E KTPT
1  16051722.0  Đinh Thị Vân Anh  21/11/1998     Nu    9  QH-2017-E KINH TẾ
2  16050014.0        Đỗ Lan Anh         NaN     Nu    4     QH-2017-E KTPT
3  16051723.0     Kiều Ngọc Ánh  06/10/1998     Nu    6     QH-2017-E KTPT
4  16050008.0       Lê Ngọc Ánh  17/02/1998     Nu    3     QH-2017-E KTPT

In [68]:
#thay na bang diem trung binh
df6['Mark'] = pd.to_numeric(df6['Mark'], errors='coerce')
mean_mark = df6['Mark'].mean()
df6['Mark'] = df6['Mark'].fillna(mean_mark)
print(df6)

            ID               Name         BOD Gender      Mark  \
0   16050007.0    Đặng Phương Anh  24/02/1998     Nu  7.000000
1   16051722.0   Đinh Thị Vân Anh  21/11/1998     Nu  9.000000
2   16050014.0         Đỗ Lan Anh         NaN     Nu  4.000000
3   16051723.0      Kiều Ngọc Ánh  06/10/1998     Nu  6.000000
4   16050008.0        Lê Ngọc Ánh  17/02/1998     Nu  3.000000
..         ...                ...         ...    ...       ...
90  16051802.0  Nguyễn Doãn Trung  25/09/1998    Nam  5.000000
91  16051803.0    Trần Văn Trường  10/02/1997    Nam  6.166667
92  16051804.0    Trần THị Cẩm Tú  13/12/1998     Nu  6.166667
93  17050098.0     Nguyễn THị Vân  21/09/1999     Nu  7.000000
94  16051811.0     Trần Ngọc Xuân  04/11/1998     Nu  6.166667

                Class
0      QH-2016-E KTPT
1   QH-2017-E KINH TẾ
2      QH-2017-E KTPT
3      QH-2017-E KTPT
4      QH-2017-E KTPT
..                ...
90     QH-2016-E KTPT
91     QH-2016-E KTPT
92     QH-2016-E KTPT
93     QH-2017-E KTPT
94     QH-2016-E KTPT

[95 rows x 6 columns]

In [72]:
#ktra du lieu trung lap
print(df6.duplicated())
print(df6.duplicated().sum())

0     False
1     False
2     False
3     False
4     False
      ...
90     True
91     True
92     True
93     True
94     True
Length: 95, dtype: bool
16

In [96]:
#Kiểm tra thuộc tính Mark có bị giá trị outlier. Thay đổi các giá trị >10 bằng giá trị max của thuộc tính này.
df6['Mark'] = pd.to_numeric(df6['Mark'], errors='coerce')

outlier = ((df6['Mark'] > 10) | (df6['Mark'] < 5))

print('So outlier: \n', outlier.sum())

max_mark = df6[df6['Mark'] <= 10]['Mark'].max()
print('Diem max: ', max_mark)
#Cú pháp .loc[row_condition, column_name]
df6.loc[(df6['Mark'] >= 10) | (df6['Mark'] < 5), 'Mark'] = max_mark
print(df6)

So outlier:
 0
Diem max:  9.0
            ID               Name         BOD Gender      Mark  \
0   16050007.0    Đặng Phương Anh  24/02/1998     Nu  7.000000
1   16051722.0   Đinh Thị Vân Anh  21/11/1998     Nu  9.000000
2   16050014.0         Đỗ Lan Anh         NaN     Nu  9.000000
3   16051723.0      Kiều Ngọc Ánh  06/10/1998     Nu  6.000000
4   16050008.0        Lê Ngọc Ánh  17/02/1998     Nu  9.000000
..         ...                ...         ...    ...       ...
90  16051802.0  Nguyễn Doãn Trung  25/09/1998    Nam  5.000000
91  16051803.0    Trần Văn Trường  10/02/1997    Nam  6.166667
92  16051804.0    Trần THị Cẩm Tú  13/12/1998     Nu  6.166667
93  17050098.0     Nguyễn THị Vân  21/09/1999     Nu  7.000000
94  16051811.0     Trần Ngọc Xuân  04/11/1998     Nu  6.166667

                Class
0      QH-2016-E KTPT
1   QH-2017-E KINH TẾ
2      QH-2017-E KTPT
3      QH-2017-E KTPT
4      QH-2017-E KTPT
..                ...
90     QH-2016-E KTPT
91     QH-2016-E KTPT
92     QH-2016-E KTPT
93     QH-2017-E KTPT
94     QH-2016-E KTPT

[95 rows x 6 columns]

In [113]:
#xoa data trung
print(df.duplicated().sum(), '\n')
print(df6.shape)
print('\n==================================\n')
df6_drop_dupli = df6.drop_duplicates()

print(df6_drop_dupli.shape)

print(df6[df6.duplicated()])
#khong co data trung

1

(79, 6)

==================================

(79, 6)
Empty DataFrame
Columns: [ID, Name, BOD, Gender, Mark, Class]
Index: []

In [115]:
#doi thuoc tinh
df6 = df6.rename(columns= {'ID' : 'MSSV', 'Name' : 'Ho Ten', 'BOD' : 'Ngay Sinh', 'Mark' : 'Diem', 'Class' : 'Lop'})
print(df6.head())

         MSSV            Ho Ten   Ngay Sinh Gender  Diem                Lop
0  16050007.0   Đặng Phương Anh  24/02/1998     Nu   7.0     QH-2016-E KTPT
1  16051722.0  Đinh Thị Vân Anh  21/11/1998     Nu   9.0  QH-2017-E KINH TẾ
2  16050014.0        Đỗ Lan Anh         NaN     Nu   9.0     QH-2017-E KTPT
3  16051723.0     Kiều Ngọc Ánh  06/10/1998     Nu   6.0     QH-2017-E KTPT
4  16050008.0       Lê Ngọc Ánh  17/02/1998     Nu   9.0     QH-2017-E KTPT

In [123]:
#tao ds sv nam va save
df6_nam = df6[df6['Gender'] == 'Nam']
df6_nam = df6_nam[['MSSV', 'Ho Ten', 'Lop']]
print(df6_nam.head())

df6_nam.to_csv('SV_nam.csv', index=False, encoding='utf-8')

          MSSV                Ho Ten                Lop
12  16050021.0          Lê Thị Giang  QH-2017-E KINH TẾ
13  16051730.0         Mai Thị Giang     QH-2017-E KTPT
16  16050028.0  Nguyễn Thị Thúy Hiền  QH-2017-E KINH TẾ
18  17050022.0       Hoàng Minh Hiếu     QH-2016-E KTPT
23         NaN   Phùng Thị Bích Hoàn     QH-2017-E KTPT

In [126]:
df_namcsv = pd.read_csv('C:/Users/huynh/Documents/jupyter Running/Data Analysis/SV_nam.csv', sep=',', encoding='utf-8')
print(df_namcsv.head(10))

         MSSV                Ho Ten                Lop
0  16050021.0          Lê Thị Giang  QH-2017-E KINH TẾ
1  16051730.0         Mai Thị Giang     QH-2017-E KTPT
2  16050028.0  Nguyễn Thị Thúy Hiền  QH-2017-E KINH TẾ
3  17050022.0       Hoàng Minh Hiếu     QH-2016-E KTPT
4         NaN   Phùng Thị Bích Hoàn     QH-2017-E KTPT
5  16050038.0           Đỗ Thị Hồng  QH-2017-E KINH TẾ
6  17050035.0      Nguyễn Thanh Huệ     QH-2016-E KTPT
7         NaN       Trương Tuấn Huy     QH-2016-E KTPT
8  16050084.0     Phạm Lê Diệu Linh     QH-2016-E KTPT
9  16050091.0     Trương Hoàng Minh     QH-2017-E KTPT