In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('C:/Users/huynh/Documents/jupyter Running/Data Analysis/Data/courses.csv', sep=',', encoding='utf-8')
print(df)

  Courses    Fee Duration  Discount
0   Spark  25000  50 Days      2000
1  Pandas  20000  35 Days      1000
2    Java  15000      NaN       800
3  Python  15000  30 Days       500
4     PHP  18000  30 Days       800
5  Python  15000  30 Days       500

In [5]:
df = pd.read_csv('C:/Users/huynh/Documents/jupyter Running/Data Analysis/Data/courses.csv', index_col='Courses')
print(df)

           Fee Duration  Discount
Courses
Spark    25000  50 Days      2000
Pandas   20000  35 Days      1000
Java     15000      NaN       800
Python   15000  30 Days       500
PHP      18000  30 Days       800
Python   15000  30 Days       500

In [15]:
df = pd.read_csv('C:/Users/huynh/Documents/jupyter Running/Data Analysis/Data/courses.csv', header=None, skiprows=3)
print(df)

        0      1        2    3
0    Java  15000      NaN  800
1  Python  15000  30 Days  500
2     PHP  18000  30 Days  800
3  Python  15000  30 Days  500

In [16]:
df = pd.read_csv('C:/Users/huynh/Documents/jupyter Running/Data Analysis/Data/courses.csv', usecols =['Courses','Fee','Discount'])
print(df)

  Courses    Fee  Discount
0   Spark  25000      2000
1  Pandas  20000      1000
2    Java  15000       800
3  Python  15000       500
4     PHP  18000       800
5  Python  15000       500

In [31]:
df = pd.read_csv('C:/Users/huynh/Documents/jupyter Running/Data Analysis/Data/courses.csv', sep=',', encoding='utf-8')

df = df.rename(columns= {'Courses' : 'Khoa Hoc', 'Fee' : 'Le Phi', 'Duration' : 'Thoi Gian'})
print(df)

df_new = df[['Khoa Hoc', 'Le Phi', 'Thoi Gian']]

print(df_new)

  Khoa Hoc  Le Phi Thoi Gian  Discount
0    Spark   25000   50 Days      2000
1   Pandas   20000   35 Days      1000
2     Java   15000       NaN       800
3   Python   15000   30 Days       500
4      PHP   18000   30 Days       800
5   Python   15000   30 Days       500
  Khoa Hoc  Le Phi Thoi Gian
0    Spark   25000   50 Days
1   Pandas   20000   35 Days
2     Java   15000       NaN
3   Python   15000   30 Days
4      PHP   18000   30 Days
5   Python   15000   30 Days

In [61]:
#Cau6
df6 = pd.read_csv('C:/Users/huynh/Documents/jupyter Running/Data Analysis/Data/student.csv', sep=';', encoding='utf-8')
print(df6.shape)

print(df6.head(10))
print('\n', df6.tail(10))

(95, 6)
           ID                  Name         BOD Gender Mark              Class
0  16050007.0       Đặng Phương Anh  24/02/1998      F    7     QH-2016-E KTPT
1  16051722.0      Đinh Thị Vân Anh  21/11/1998      F    9  QH-2017-E KINH TẾ
2  16050014.0            Đỗ Lan Anh         NaN      F    4     QH-2017-E KTPT
3  16051723.0         Kiều Ngọc Ánh  06/10/1998      F    6     QH-2017-E KTPT
4  16050008.0           Lê Ngọc Ánh  17/02/1998      F    3     QH-2017-E KTPT
5  16052308.0            Vũ Thị Ánh  12/07/1998      F    9  QH-2017-E KINH TẾ
6  16051728.0       Nguyễn Đức Bình         NaN      F    6     QH-2016-E KTPT
7  16051726.0      Nguyễn Ngọc Diệp  10/10/1998      F    8  QH-2017-E KINH TẾ
8  16051725.0  Nguyễn Thị Ngọc Diệp  08/10/1998      F    7     QH-2017-E KTPT
9  16050018.0       Nguyễn Kim Dung  20/10/1998      F    7     QH-2016-E KTPT

             ID                 Name         BOD Gender Mark           Class
85         NaN   Nguyễn Thị Hải Vân  18/09/1998      F    9  QH-2017-E KTPT
86  16050174.0   Nguyễn THị Hải Yến  04/03/1998      F    6  QH-2016-E KTPT
87  16051814.0  Nguyễn Thị Ngọc Yến  11/11/1998      F  NaN  QH-2016-E KTPT
88  17050098.0       Nguyễn THị Vân  21/09/1999      F    7  QH-2017-E KTPT
89  16051811.0       Trần Ngọc Xuân  04/11/1998      F  NaN  QH-2016-E KTPT
90  16051802.0    Nguyễn Doãn Trung  25/09/1998      M    5  QH-2016-E KTPT
91  16051803.0      Trần Văn Trường  10/02/1997      M  NaN  QH-2016-E KTPT
92  16051804.0      Trần THị Cẩm Tú  13/12/1998      F  NaN  QH-2016-E KTPT
93  17050098.0       Nguyễn THị Vân  21/09/1999      F    7  QH-2017-E KTPT
94  16051811.0       Trần Ngọc Xuân  04/11/1998      F  NaN  QH-2016-E KTPT

In [39]:
#xem null
print(df6.isnull())

       ID   Name    BOD  Gender   Mark  Class
0   False  False  False   False  False  False
1   False  False  False   False  False  False
2   False  False   True   False  False  False
3   False  False  False   False  False  False
4   False  False  False   False  False  False
..    ...    ...    ...     ...    ...    ...
90  False  False  False   False  False  False
91  False  False  False   False   True  False
92  False  False  False   False   True  False
93  False  False  False   False  False  False
94  False  False  False   False   True  False

[95 rows x 6 columns]

In [49]:
#thuoc tinh null nhieu nhat
print(df6.isnull().sum())
print(df6.isnull().sum().idxmax())
print(df6.isnull().sum().max())

ID         8
Name       0
BOD        6
Gender     0
Mark      22
Class      0
dtype: int64
Mark
22

In [62]:
df6['Gender'] = df6['Gender'].replace({'F' : 'Nu', 'M' : 'Nam'})
print(df6.head())

           ID              Name         BOD Gender Mark              Class
0  16050007.0   Đặng Phương Anh  24/02/1998     Nu    7     QH-2016-E KTPT
1  16051722.0  Đinh Thị Vân Anh  21/11/1998     Nu    9  QH-2017-E KINH TẾ
2  16050014.0        Đỗ Lan Anh         NaN     Nu    4     QH-2017-E KTPT
3  16051723.0     Kiều Ngọc Ánh  06/10/1998     Nu    6     QH-2017-E KTPT
4  16050008.0       Lê Ngọc Ánh  17/02/1998     Nu    3     QH-2017-E KTPT

In [68]:
#thay na bang diem trung binh
df6['Mark'] = pd.to_numeric(df6['Mark'], errors='coerce')
mean_mark = df6['Mark'].mean()
df6['Mark'] = df6['Mark'].fillna(mean_mark)
print(df6)

            ID               Name         BOD Gender      Mark  \
0   16050007.0    Đặng Phương Anh  24/02/1998     Nu  7.000000
1   16051722.0   Đinh Thị Vân Anh  21/11/1998     Nu  9.000000
2   16050014.0         Đỗ Lan Anh         NaN     Nu  4.000000
3   16051723.0      Kiều Ngọc Ánh  06/10/1998     Nu  6.000000
4   16050008.0        Lê Ngọc Ánh  17/02/1998     Nu  3.000000
..         ...                ...         ...    ...       ...
90  16051802.0  Nguyễn Doãn Trung  25/09/1998    Nam  5.000000
91  16051803.0    Trần Văn Trường  10/02/1997    Nam  6.166667
92  16051804.0    Trần THị Cẩm Tú  13/12/1998     Nu  6.166667
93  17050098.0     Nguyễn THị Vân  21/09/1999     Nu  7.000000
94  16051811.0     Trần Ngọc Xuân  04/11/1998     Nu  6.166667

                Class
0      QH-2016-E KTPT
1   QH-2017-E KINH TẾ
2      QH-2017-E KTPT
3      QH-2017-E KTPT
4      QH-2017-E KTPT
..                ...
90     QH-2016-E KTPT
91     QH-2016-E KTPT
92     QH-2016-E KTPT
93     QH-2017-E KTPT
94     QH-2016-E KTPT

[95 rows x 6 columns]

In [72]:
#ktra du lieu trung lap
print(df6.duplicated())
print(df6.duplicated().sum())

0     False
1     False
2     False
3     False
4     False
      ...
90     True
91     True
92     True
93     True
94     True
Length: 95, dtype: bool
16

In [96]:
#Kiểm tra thuộc tính Mark có bị giá trị outlier. Thay đổi các giá trị >10 bằng giá trị max của thuộc tính này.
df6['Mark'] = pd.to_numeric(df6['Mark'], errors='coerce')

outlier = ((df6['Mark'] > 10) | (df6['Mark'] < 5))

print('So outlier: \n', outlier.sum())

max_mark = df6[df6['Mark'] <= 10]['Mark'].max()
print('Diem max: ', max_mark)
#Cú pháp .loc[row_condition, column_name]
df6.loc[(df6['Mark'] >= 10) | (df6['Mark'] < 5), 'Mark'] = max_mark
print(df6)

So outlier:
 0
Diem max:  9.0
            ID               Name         BOD Gender      Mark  \
0   16050007.0    Đặng Phương Anh  24/02/1998     Nu  7.000000
1   16051722.0   Đinh Thị Vân Anh  21/11/1998     Nu  9.000000
2   16050014.0         Đỗ Lan Anh         NaN     Nu  9.000000
3   16051723.0      Kiều Ngọc Ánh  06/10/1998     Nu  6.000000
4   16050008.0        Lê Ngọc Ánh  17/02/1998     Nu  9.000000
..         ...                ...         ...    ...       ...
90  16051802.0  Nguyễn Doãn Trung  25/09/1998    Nam  5.000000
91  16051803.0    Trần Văn Trường  10/02/1997    Nam  6.166667
92  16051804.0    Trần THị Cẩm Tú  13/12/1998     Nu  6.166667
93  17050098.0     Nguyễn THị Vân  21/09/1999     Nu  7.000000
94  16051811.0     Trần Ngọc Xuân  04/11/1998     Nu  6.166667

                Class
0      QH-2016-E KTPT
1   QH-2017-E KINH TẾ
2      QH-2017-E KTPT
3      QH-2017-E KTPT
4      QH-2017-E KTPT
..                ...
90     QH-2016-E KTPT
91     QH-2016-E KTPT
92     QH-2016-E KTPT
93     QH-2017-E KTPT
94     QH-2016-E KTPT

[95 rows x 6 columns]

In [113]:
#xoa data trung
print(df.duplicated().sum(), '\n')
print(df6.shape)
print('\n==================================\n')
df6_drop_dupli = df6.drop_duplicates()

print(df6_drop_dupli.shape)

print(df6[df6.duplicated()])
#khong co data trung

1

(79, 6)

==================================

(79, 6)
Empty DataFrame
Columns: [ID, Name, BOD, Gender, Mark, Class]
Index: []

In [115]:
#doi thuoc tinh
df6 = df6.rename(columns= {'ID' : 'MSSV', 'Name' : 'Ho Ten', 'BOD' : 'Ngay Sinh', 'Mark' : 'Diem', 'Class' : 'Lop'})
print(df6.head())

         MSSV            Ho Ten   Ngay Sinh Gender  Diem                Lop
0  16050007.0   Đặng Phương Anh  24/02/1998     Nu   7.0     QH-2016-E KTPT
1  16051722.0  Đinh Thị Vân Anh  21/11/1998     Nu   9.0  QH-2017-E KINH TẾ
2  16050014.0        Đỗ Lan Anh         NaN     Nu   9.0     QH-2017-E KTPT
3  16051723.0     Kiều Ngọc Ánh  06/10/1998     Nu   6.0     QH-2017-E KTPT
4  16050008.0       Lê Ngọc Ánh  17/02/1998     Nu   9.0     QH-2017-E KTPT

In [123]:
#tao ds sv nam va save
df6_nam = df6[df6['Gender'] == 'Nam']
df6_nam = df6_nam[['MSSV', 'Ho Ten', 'Lop']]
print(df6_nam.head())

df6_nam.to_csv('SV_nam.csv', index=False, encoding='utf-8')

          MSSV                Ho Ten                Lop
12  16050021.0          Lê Thị Giang  QH-2017-E KINH TẾ
13  16051730.0         Mai Thị Giang     QH-2017-E KTPT
16  16050028.0  Nguyễn Thị Thúy Hiền  QH-2017-E KINH TẾ
18  17050022.0       Hoàng Minh Hiếu     QH-2016-E KTPT
23         NaN   Phùng Thị Bích Hoàn     QH-2017-E KTPT

In [1]:
#load file
df_namcsv = pd.read_csv('C:/Users/huynh/Documents/jupyter Running/Data Analysis/SV_nam.csv', sep=',', encoding='utf-8')
print(df_namcsv.head(10))

NameError: name 'pd' is not defined

In [8]:
#Cau 7
df7 = pd.read_csv('C:/Users/huynh/Documents/jupyter Running/Data Analysis/Data/wine.csv', sep=',', encoding='utf-8')
print(df7.head())

print(df7.shape)

   Wine  Alcohol  Malic.acid   Ash   Acl     Mg  Phenols  Flavanoids  \
0     1    14.23        1.71  2.43  15.6  127.0     2.80         NaN
1     1    13.20        1.78  2.14  11.2  100.0     2.65        2.76
2     1    13.16        2.36  2.67  18.6  101.0     2.80        3.24
3     1    14.37        1.95  2.50  16.8  113.0     3.85        3.49
4     1      NaN        2.59  2.87  21.0  118.0     2.80        2.69

   Nonflavanoid.phenols  Proanth  Color.int   Hue    OD  Proline
0                  0.28     2.29       5.64  1.04  3.92     1065
1                  0.26     1.28       4.38  1.05  3.40     1050
2                  0.30     2.81       5.68  1.03  3.17     1185
3                  0.24     2.18       7.80  0.86  3.45     1480
4                  0.39     1.82       4.32  1.04  2.93      735
(181, 14)

In [5]:
#xem quan sat va thuoc tinh
num_observations, num_attributes = df7.shape
print(f"Số lượng quan sát: {num_observations}")
print(f"Số lượng thuộc tính: {num_attributes}")

Số lượng quan sát: 181
Số lượng thuộc tính: 14

In [9]:
#xem null
print(df7.isnull())

      Wine  Alcohol  Malic.acid    Ash    Acl     Mg  Phenols  Flavanoids  \
0    False    False       False  False  False  False    False        True
1    False    False       False  False  False  False    False       False
2    False    False       False  False  False  False    False       False
3    False    False       False  False  False  False    False       False
4    False     True       False  False  False  False    False       False
..     ...      ...         ...    ...    ...    ...      ...         ...
176  False    False       False  False  False  False    False       False
177  False    False       False  False  False  False    False       False
178  False    False       False  False  False  False    False       False
179  False    False       False  False  False  False    False       False
180  False    False       False  False  False  False    False       False

     Nonflavanoid.phenols  Proanth  Color.int    Hue     OD  Proline
0                   False    False      False  False  False    False
1                   False    False      False  False  False    False
2                   False    False      False  False  False    False
3                   False    False      False  False  False    False
4                   False    False      False  False  False    False
..                    ...      ...        ...    ...    ...      ...
176                 False    False      False  False  False    False
177                 False    False      False  False  False    False
178                 False    False      False  False  False    False
179                 False    False      False  False  False    False
180                 False    False      False  False  False    False

[181 rows x 14 columns]

In [11]:
#thuoc tinh null nhieu nhat
print(df7.isnull().sum())
#Lệnh df7.isnull().sum().idxmax() trả về tên cột có số lượng giá trị null nhiều nhất, ở đây là "Alcohol".
print('\n--------------------\n')
print(df7.isnull().sum().idxmax())
print(df7.isnull().sum().max())

Wine                    0
Alcohol                 9
Malic.acid              1
Ash                     3
Acl                     2
Mg                      3
Phenols                 0
Flavanoids              6
Nonflavanoid.phenols    3
Proanth                 0
Color.int               5
Hue                     0
OD                      0
Proline                 0
dtype: int64

--------------------

Alcohol
9

In [13]:
#ktra trung lap
print(df7.duplicated(), '\n-----------\n')
print(df7.duplicated().sum())

0      False
1      False
2      False
3      False
4      False
       ...
176    False
177    False
178     True
179     True
180    False
Length: 181, dtype: bool
-----------

3

In [14]:
df7.describe()     # thống kê mô tả các biến số

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline
count,181.000000,172.000000,180.000000,178.000000,179.000000,178.000000,181.000000,175.000000,178.000000,181.000000,176.000000,181.000000,181.000000,181.000000
mean,1.955801,12.993256,2.360167,2.369382,20.109497,107.679775,2.285912,1.989943,0.361742,1.586188,5.158864,0.951856,2.596575,747.248619
std,0.780479,0.813028,1.132883,0.275909,5.689550,49.215699,0.625062,0.997944,0.123868,0.569047,2.360158,0.230785,0.713948,312.539614
min,1.000000,11.030000,0.740000,1.360000,10.600000,70.000000,0.980000,0.340000,0.130000,0.410000,1.280000,0.480000,1.270000,278.000000
25%,1.000000,12.367500,1.607500,2.222500,17.200000,88.250000,1.720000,1.090000,0.270000,1.250000,3.265000,0.770000,1.920000,502.000000
50%,2.000000,13.050000,1.870000,2.360000,19.500000,98.000000,2.320000,2.090000,0.340000,1.540000,4.850000,0.960000,2.780000,675.000000
75%,3.000000,13.672500,3.132500,2.557500,21.550000,109.500000,2.800000,2.785000,0.437500,1.950000,6.320000,1.120000,3.170000,985.000000
max,3.000000,14.830000,5.800000,3.230000,60.000000,500.000000,3.880000,5.080000,0.660000,3.580000,13.000000,1.710000,4.000000,1680.000000

In [24]:
# a) Xóa bản ghi có quá nhiều null (thường khi ít quan sát và null rải nhiều cột)
df7_drop_rows = df7.dropna()  # xóa mọi dòng có ít nhất một null

mean = df7.mean()
print(mean)

df7_fill = df7.fillna(mean)

print(df7.head())
print('\n================\n')
print(df7_fill.head())

Wine                      1.955801
Alcohol                  12.993256
Malic.acid                2.360167
Ash                       2.369382
Acl                      20.109497
Mg                      107.679775
Phenols                   2.285912
Flavanoids                1.989943
Nonflavanoid.phenols      0.361742
Proanth                   1.586188
Color.int                 5.158864
Hue                       0.951856
OD                        2.596575
Proline                 747.248619
dtype: float64
   Wine  Alcohol  Malic.acid   Ash   Acl     Mg  Phenols  Flavanoids  \
0     1    14.23        1.71  2.43  15.6  127.0     2.80         NaN
1     1    13.20        1.78  2.14  11.2  100.0     2.65        2.76
2     1    13.16        2.36  2.67  18.6  101.0     2.80        3.24
3     1    14.37        1.95  2.50  16.8  113.0     3.85        3.49
4     1      NaN        2.59  2.87  21.0  118.0     2.80        2.69

   Nonflavanoid.phenols  Proanth  Color.int   Hue    OD  Proline
0                  0.28     2.29       5.64  1.04  3.92     1065
1                  0.26     1.28       4.38  1.05  3.40     1050
2                  0.30     2.81       5.68  1.03  3.17     1185
3                  0.24     2.18       7.80  0.86  3.45     1480
4                  0.39     1.82       4.32  1.04  2.93      735

================

   Wine    Alcohol  Malic.acid   Ash   Acl     Mg  Phenols  Flavanoids  \
0     1  14.230000        1.71  2.43  15.6  127.0     2.80    1.989943
1     1  13.200000        1.78  2.14  11.2  100.0     2.65    2.760000
2     1  13.160000        2.36  2.67  18.6  101.0     2.80    3.240000
3     1  14.370000        1.95  2.50  16.8  113.0     3.85    3.490000
4     1  12.993256        2.59  2.87  21.0  118.0     2.80    2.690000

   Nonflavanoid.phenols  Proanth  Color.int   Hue    OD  Proline
0                  0.28     2.29       5.64  1.04  3.92     1065
1                  0.26     1.28       4.38  1.05  3.40     1050
2                  0.30     2.81       5.68  1.03  3.17     1185
3                  0.24     2.18       7.80  0.86  3.45     1480
4                  0.39     1.82       4.32  1.04  2.93      735

In [25]:
#xem do tuong quan
df7_cor = df7.corr(numeric_only=True)

print(df7_cor)

                          Wine   Alcohol  Malic.acid       Ash       Acl  \
Wine                  1.000000 -0.296406    0.453352 -0.035055  0.312681
Alcohol              -0.296406  1.000000    0.110393  0.191431 -0.271167
Malic.acid            0.453352  0.110393    1.000000  0.178630  0.120019
Ash                  -0.035055  0.191431    0.178630  1.000000  0.149186
Acl                   0.312681 -0.271167    0.120019  0.149186  1.000000
Mg                    0.105251  0.133867    0.171882  0.041866 -0.043392
Phenols              -0.722935  0.269689   -0.343869  0.121949 -0.208938
Flavanoids           -0.847205  0.194392   -0.410455  0.103717 -0.178171
Nonflavanoid.phenols  0.490171 -0.160674    0.276326  0.191341  0.199896
Proanth              -0.501362  0.136552   -0.229246  0.000174 -0.100342
Color.int             0.290382  0.536424    0.277280  0.278776 -0.090978
Hue                  -0.629668 -0.087335   -0.573302 -0.088852 -0.179784
OD                   -0.793894  0.045905   -0.383412 -0.007542 -0.105347
Proline              -0.621967  0.635867   -0.189079  0.221147 -0.380414

                            Mg   Phenols  Flavanoids  Nonflavanoid.phenols  \
Wine                  0.105251 -0.722935   -0.847205              0.490171
Alcohol               0.133867  0.269689    0.194392             -0.160674
Malic.acid            0.171882 -0.343869   -0.410455              0.276326
Ash                   0.041866  0.121949    0.103717              0.191341
Acl                  -0.043392 -0.208938   -0.178171              0.199896
Mg                    1.000000 -0.095655   -0.122594             -0.017809
Phenols              -0.095655  1.000000    0.864286             -0.456359
Flavanoids           -0.122594  0.864286    1.000000             -0.536445
Nonflavanoid.phenols -0.017809 -0.456359   -0.536445              1.000000
Proanth              -0.018314  0.612692    0.639526             -0.357605
Color.int             0.325398 -0.097543   -0.226526              0.178508
Hue                  -0.163201  0.444885    0.559216             -0.276413
OD                   -0.138649  0.704929    0.793605             -0.511306
Proline               0.161862  0.491737    0.465436             -0.309093

                       Proanth  Color.int       Hue        OD   Proline
Wine                 -0.501362   0.290382 -0.629668 -0.793894 -0.621967
Alcohol               0.136552   0.536424 -0.087335  0.045905  0.635867
Malic.acid           -0.229246   0.277280 -0.573302 -0.383412 -0.189079
Ash                   0.000174   0.278776 -0.088852 -0.007542  0.221147
Acl                  -0.100342  -0.090978 -0.179784 -0.105347 -0.380414
Mg                   -0.018314   0.325398 -0.163201 -0.138649  0.161862
Phenols               0.612692  -0.097543  0.444885  0.704929  0.491737
Flavanoids            0.639526  -0.226526  0.559216  0.793605  0.465436
Nonflavanoid.phenols -0.357605   0.178508 -0.276413 -0.511306 -0.309093
Proanth               1.000000  -0.035678  0.300876  0.520153  0.329998
Color.int            -0.035678   1.000000 -0.543087 -0.450209  0.303681
Hue                   0.300876  -0.543087  1.000000  0.578828  0.229321
OD                    0.520153  -0.450209  0.578828  1.000000  0.305592
Proline               0.329998   0.303681  0.229321  0.305592  1.000000