In [1]:
print("hello world")

hello world

In [3]:
#Cau 1
sum = 0
for i in range(5):
    temp = int(input(f"Nhap so thu {i + 1}: "))
    sum += temp
print("Tong la:", sum)

Nhap so thu 1: 4
Nhap so thu 2: 5
Nhap so thu 3: 2
Nhap so thu 4: -99
Nhap so thu 5: 100
Tong la: 12

In [19]:
#Cau2
sum = 0
n = int(input("Nhap n: "))
for i in range(n):
    
    temp = (input(f"('e' de ket thuc hoac Nhap so thu {i + 1}: "))
    if temp.lower() == 'e':
        print("DUNG!")
        break
        
    sum += int(temp)


print("Tong cac so n: ", sum)

Nhap n: 5
('e' de ket thuc hoac Nhap so thu 1: 1
('e' de ket thuc hoac Nhap so thu 2: 2
('e' de ket thuc hoac Nhap so thu 3: 3
('e' de ket thuc hoac Nhap so thu 4: 4
('e' de ket thuc hoac Nhap so thu 5: 5
Tong cac so n:  15

In [39]:
#Cau3
sumEven = 0
inp = (input())
inp = inp.split() #hàm split trả về list
for num in inp:
    if int(num) % 2 == 0:
        sumEven += int(num)



print(inp, "\n", sumEven)

1 2 6 4
['1', '2', '6', '4']
 12

In [48]:
#Cau4
sum = 0
n = int(input())
for i in range(n + 1):
    sum += i
    
print(sum)

5
15

In [49]:
#Cau 5
inp = input()
inp = inp.split()

print(max(inp))

3 9 -99
9

In [53]:
#Cau6
sum = 0
ds = [5, 2, 10, 32, 11, 48, 34]
for index, num in enumerate(ds):
    if(index % 2 == 0 and num % 2 == 0):
       sum += num
    
print(sum)

44

In [54]:
#Cau7
ds = [15, 32, 10, 32, 29, 48, 15]

for num in ds:
    if num % 2 != 0:
        ds.remove(num)
        
print(ds)

[32, 10, 32, 48]

In [73]:
#Cau8
inp = list(input())
sumChar = len(inp)

for c in inp:
    c = c.lower()
    if c != " ":
        print("so lan xuat hien chu: " + c, inp.count(c))
    else:
        print("so lan xuat hien khoang trang: ", inp.count(c))

print("Tong so ky tu", sumChar)

Quang Vu
so lan xuat hien chu: q 0
so lan xuat hien chu: u 2
so lan xuat hien chu: a 1
so lan xuat hien chu: n 1
so lan xuat hien chu: g 1
so lan xuat hien khoang trang:  1
so lan xuat hien chu: v 0
so lan xuat hien chu: u 2
Tong so ky tu 8

In [84]:
#Cau9
str = "trum Python python ez"
str = str.lower()
s = str.split()
count = 0
print(s)

for i in s:
    if(i == "python"):
        count += 1
        
print(count)

['trum', 'python', 'python', 'ez']
2

In [106]:
#Cau10
str = "trum Python mining data with python so ez"
str = str.lower()
s = str.split()
print(s)
print(str)

idx = s.index("data")
s.insert(idx, "du lieu")
s.remove("data")

string = ' '.join(s)
print(string)

['trum', 'python', 'mining', 'data', 'with', 'python', 'so', 'ez']
trum python mining data with python so ez
trum python mining du lieu with python so ez

In [110]:
#Cau13

Person1 = {
    'STT' : '1',
    'MSSV' : '1210',
    'Họ và tên' : 'Phạm Thị Hoàng Mỹ',
    'Năm sinh' : '2005',
    'Giới tính' : "Nữ"
}

Person2 = {
    'STT' : '2',
    'MSSV' : '2012',
    'Họ và tên' : 'Huỳnh Quang Vũ',
    'Năm sinh' : '2005',
    'Giới tính' : "Nam"
}

persons = [Person1, Person2]

for p in persons:
    if p['STT'] == '1':
        print(p['Họ và tên'])

#print(Person1, Person2)

Phạm Thị Hoàng Mỹ

In [ ]:
#Cau11
def read_number(num):
    units = ["", "một", "hai", "ba", "bốn", "năm", "sáu", "bảy", "tám", "chín"]

    def read_three_digits(n):
        hundred = n // 100
        ten = (n % 100) // 10
        unit = n % 10
        result = ""

        if hundred > 0:
            result += units[hundred] + " trăm"
        else:
            result += ""

        if ten == 0 and unit != 0 and hundred != 0:
            result += " linh"
        elif ten == 1:
            result += " mười"
        elif ten > 1:
            result += " " + units[ten] + " mươi"
            
        if unit != 0:
            if ten == 0 and hundred == 0:
                result += units[unit]
            elif unit == 1 and ten > 1:
                result += " mốt"
            elif unit == 4 and ten > 1:
                result += " tư"
            elif unit == 5 and ten >= 1:
                result += " lăm"
            else:
                result += " " + units[unit]

        return result.strip()

    if num == 0:
        return "Không"

    parts = []
    place_values = ["", "nghìn", "triệu", "tỷ"]
    i = 0

    while num > 0:
        chunk = num % 1000
        if chunk != 0:
            chunk_text = read_three_digits(chunk)
            if place_values[i]:
                chunk_text += " " + place_values[i]
            parts.insert(0, chunk_text)
        num //= 1000
        i += 1

    result = " ".join(parts)
    return result.capitalize()


# Chương trình chính
n = int(input("Nhập số: "))
print(read_number(n))

Nhập số: 98992189
Chín mươi tám triệu chín trăm chín mươi hai nghìn một trăm tám mươi chín

In [3]:
#Câu12
s1 = "toi la Thanh Tron"
s2 = "tron vn, thanh tron 2020"


#set là kiểu dữ liệu giống list nhưng mỗi phần tử chỉ xuất hiện duy nhất 1 lần
str1 = set(s1.lower().split())
str2 = set(s2.lower().split())

#phương thức set.intersection() trả về 1 set các phần tử vừa có trong str1 và str2
similar_word = str1.intersection(str2)

print(similar_word)

{'thanh', 'tron'}

In [27]:
#Cau14
file = open('C:/Users/huynh/Documents/jupyter Running/Data Analysis/Data/vanban.txt', 'r', encoding = 'utf-8')
content = file.read()
file.close()
print(content)

list_content = content.split()
word_count = len(list_content)
print("\nso luong chu: ", word_count)

char_count = len(content)
print("so luong ky tu: ", char_count)

find_count = content.lower().count("dữ liệu")
print("so tu dữ liệu: ", find_count)

str_concat = "Khái niệm về phân tích dữ liệu ứng dụng trong doanh nghiệp "
first_content = str_concat + content
#first_content = first_content.replace('\n', ' ')
print("\nChuoi sau khi them:", first_content)

str_concat_tail = "Phân tích dữ liệu đã mang lại nhiều lợi ích cho doanh nghiệp trong việc tìm ra các giá trị từ dữ liệu"
last_content = content + str_concat_tail
#last_content = last_content.replace('\n', ' ')
print("\nChuoi sau khi them:", last_content)

Phân tích dữ liệu là một quá trình kiểm tra, làm sạch, chuyển đổi và mô
hình hóa dữ liệu với mục tiêu khám phá thông tin hữu ích, thông báo kết
luận và hỗ trợ ra quyết định. Phân tích dữ liệu có nhiều khía cạnh và cách
tiếp cận, bao gồm các kỹ thuật đa dạng dưới nhiều tên khác nhau và được
sử dụng trong các lĩnh vực kinh doanh, khoa học và khoa học xã hội khác
nhau.

so luong chu:  82
so luong ky tu:  368
so tu dữ liệu:  3

Chuoi sau khi them: Khái niệm về phân tích dữ liệu ứng dụng trong doanh nghiệp Phân tích dữ liệu là một quá trình kiểm tra, làm sạch, chuyển đổi và mô
hình hóa dữ liệu với mục tiêu khám phá thông tin hữu ích, thông báo kết
luận và hỗ trợ ra quyết định. Phân tích dữ liệu có nhiều khía cạnh và cách
tiếp cận, bao gồm các kỹ thuật đa dạng dưới nhiều tên khác nhau và được
sử dụng trong các lĩnh vực kinh doanh, khoa học và khoa học xã hội khác
nhau.

Chuoi sau khi them: Phân tích dữ liệu là một quá trình kiểm tra, làm sạch, chuyển đổi và mô
hình hóa dữ liệu với mục tiêu khám phá thông tin hữu ích, thông báo kết
luận và hỗ trợ ra quyết định. Phân tích dữ liệu có nhiều khía cạnh và cách
tiếp cận, bao gồm các kỹ thuật đa dạng dưới nhiều tên khác nhau và được
sử dụng trong các lĩnh vực kinh doanh, khoa học và khoa học xã hội khác
nhau.Phân tích dữ liệu đã mang lại nhiều lợi ích cho doanh nghiệp trong việc tìm ra các giá trị từ dữ liệu